$pink-light: #ff3366;
$pink-medium: #eb2f64;
$pink-dark: #ba265d;

$white: #fff;
$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$black: #000;
$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

$box-shadow-main: 0 2rem 6rem rgba($black, 0.4);
